.app__serviceOBE{
    width: 100%;
    height: 200vh;
    display: flex;
    background-color: #Fff;
    padding-top: 6rem;
    border-bottom: 1px solid red;
}
.app__serviceOBE-left-box{
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.app__serviceOBE-right-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 0 3rem;
}
.app__serviceOBE-right-box h3{
    margin: 1rem 0;
}
.app__serviceOBE-right-box p:nth-child(2),
.app__serviceOBE-right-box p:nth-child(3){
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    opacity: .7;
}
.app__serviceOBE-right-box p:nth-child(5),
.app__serviceOBE-right-box p:nth-child(7),
.app__serviceOBE-right-box p:nth-child(9),
.app__serviceOBE-right-box p:nth-child(12){
    font-size: 18px;
    line-height: 1.5;
    margin-bottom:.5rem ;
    color: #000;
    opacity: .8;
}
.app__serviceOBE-right-box  li{
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    opacity: .7;
    margin-left: 1rem;
}
@media screen and (max-width:1000px){
    .app__serviceOBE{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-top: 2rem;
    }
    .app__serviceOBE-right-box{
        padding: 3rem 4rem 0 4rem;
    }
}
@media screen and (max-width:650px){
    .app__serviceOBE-right-box{
        padding: 3rem 2rem 0 2rem;
    }
    .app__serviceOBE-left-box{
        padding: 2rem;
    }
}