.app__serviceOCA{
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: #Fff;
    padding-top: 6rem;
}
.app__serviceOCA-left-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem 0 4rem;
}
.app__serviceOCA-left-box p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom:2rem ;
    color: #000;
    opacity: .7;
}
.app__serviceOCA-left-box ul{
    padding-left: 1rem ;
}
.app__serviceOCA-left-box ul li{
    font-size: 17px;
    line-height: 1.5;
    color: #000;
    opacity: .8;
}
.app__serviceOCA-right-box{
    flex: 1;
}

@media screen and (max-width:1000px){
    .app__serviceOCA{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        height: auto;
        padding-top: 2rem;
    }
    .app__serviceOCA-right-box{
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
    }
    .serviceOCA-left-box_item{
        height: 400px;
    }
}
@media screen and (max-width:650px){
    .app__serviceOCA{
        padding-top: 2rem;
    }
    .app__serviceOCA-right-box,
    .app__serviceOCA-left-box{
        padding-left: 2rem;
    }
}