.app__serviceOCA{
    width: 100%;
    /* height: 130vh; */
    display: grid;
    /* background-color: #Fff; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 6rem;
}

.app__serviceOCA-first-box{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 2rem;
}
.app__serviceOCA-first-box p,
.app__serviceOCA-first-box ul li{
    color: #000;
    opacity: .7;
    font-size: 20px;
    line-height: 1.5;
}
.app__serviceOCA-first-box ul,
.app__serviceOCA-third-box ul{
    padding-left: 1rem;
}
.app__serviceOCA-img-box{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    padding-left: 2rem;
}

.app__serviceOCA-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app__serviceOCA-third-box{
    grid-column: 3 / 6;
    grid-row: 1 / 4;
    padding: 2rem 6rem;
}
.app__serviceOCA-third-box p,
.app__serviceOCA-third-box ul li{
    color: #000;
    opacity: .7;
    font-size: 20px;
    line-height: 1.5;
}
.app__serviceOCA-third-box h3{
    margin: 1rem 0;
    color: #000;
    opacity: .7;
}
@media screen and (max-width:1000px){
    .app__serviceOCA{
        display: flex;
        flex-direction: column;
        /* gap: 3rem; */
        height: auto;
        padding-top: 2rem;
    }
    
    .app__serviceOCA-first-box,
    .app__serviceOCA-img-box,
    .app__serviceOCA-third-box{
        padding: 2rem;
        height: auto;
        width: 100%;
    }
    .app__serviceOCA-img-box {
        padding-right: 2rem;
    }
}
@media screen and (max-width:650px){
    .app__serviceOCA{
        padding-top: 2rem;
    }
}