.app__contact{
    width: 100%;
    height: auto;

}
.app__contact-container{
    width: 100%;
    height: auto;
    background-color: red;
    padding: 4rem 6rem;
}
.app__contact-container_title p{
    font-size: 20px ;
}
.app__contact-container-boxes{
    width: 100%;
    height: 90vh;
    display: flex;
    gap: 2rem;
    background-color: antiquewhite;
}
.app__contact-container_left-box{
    flex: 1;
    background-color: rgb(69, 16, 138);
    padding: 2rem 4rem;
}
.app__contact-container_left-box h2{
    font-size: 2.3rem;
    margin-bottom: 3rem;
    font-family: var(--font-base);
}
form{
    width: 100%;

    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    background-color: #efefef;
    margin-bottom: 1.5rem;
    /* border: transparent; */
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
textarea{
    width: 100%;
    min-height: 280px;
    padding: .8rem;
    margin-bottom: 1rem;
    background-color: #efefef;
    font-size: 14px;
    font-weight: 600;
}
form button{
    width: 170px;
}
input:focus{
    border: 3px solid var(--color-orange);
   
}

.app__contact-container_right-box{
    flex: 1;
    background-color: rgb(24, 168, 118);
    padding: 2rem 4rem ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.app__contact-container_right-box h2{
    font-size: 2.3rem;
    font-family: var(--font-base);
}
.info-contact_boxes{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.info-contact{
    width: 40%;
    display: flex;
    align-items: flex-start;
}
.info-contact span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
.info-contact_text h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}