.app__sectionProject{
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    background-color: #F7F5EF;
    padding-top: 4rem;
}
.app__sectionProject-left-box{
    flex: 1;
    height: 50%;
    position: sticky;
    top: 100px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* background-color: rgb(255, 195, 127); */
}
.app__sectionProject-right-box{
    flex: 4;
    /* background-color: aquamarine; */
}

/* .categories-container{
    width: 100%;
    height: 100%;
    display: flex;
  
    gap: 1.5rem;

} */
@media screen and (max-width: 1000px) {
    .app__sectionProject{
        flex-direction: column;
    }
    .app__sectionProject-left-box{
        position: relative;
        top: 0;
    }
    .app__sectionProject{
        /* padding-top: 0; */
        /* gap: 4rem; */
    }
}
