.app__team{
    width: 100%;
    height: 100vh;
    background-color: #F8F5F4;
    display: flex;
    flex-direction: row;
    padding-bottom: 10rem;
}
.app__team-left-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding: 3rem 3rem 0 0 ; */
}
.app__team-left-box p{
    font-size: 16.5px;
    line-height: 1.4;
    color: #000;
    opacity: .7;
    font-family: var(--font-alt);
}
.app__team-right-box{
    flex: 1;
}
@media screen and ( max-width: 900px ) {
    .app__team{
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }
}