.app__singleProject{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
}
.fixed-box{
    width: 100%;
    height: 100vh;
    background: url('../../assets/building13.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.app__singleProject-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
   transition: background-color .5s ease;
}
.bg-color-initial {
    background-color: #A59786;
}
.bg-color{
    background-color: #9DA391;
}
.app__singleProject-container_first-box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:row;
    /* background-color: beige; */
}
.container_left-box{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding-left: 1rem; */
    /* background-color: rgb(220, 238, 245); */
}
.container_left-box h2{
    font-size: 4rem;
    /* line-height: 1.5; */
    font-family: var(--font-base);
    text-transform: uppercase;
    /* text-align: center; */
    /* padding-left: 5rem; */
}
.container_right-box{
    flex: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(202, 202, 22); */
}
.container_right-box-img{
    width: 90%;
    height: 70%;
    /* object-fit: cover; */
}
.container_right-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app__singleProject-container_second-box{
    width: 80%;
    height: 100vh;
    margin-top: 10rem;
    /* background-color: red; */
}
.container_second-box-img{
    width: 100%;
    /* height: 70%; */
}
.container_second-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 70%; */
}
.box{
    height: 85vh;
    width: 10%;

}
.app__singleProject-container_third-box{
    width: 100%;
    height: 100vh;
    margin-top: 10rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.container_third-box-text {
    flex: 1;
}
.container_third-box-text p {
    font-size: 2rem;
}
.container_third-box-img{
    flex: 2;
    width: 80%;
    height: 70%;
}
.container_third-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}